<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard • Todo</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <p><a href="/reset">Reset</a></p>
    <p><a href="/logout">Logout</a></p>
    <footer class="info">
      <p>Created by <a href="https://github.com/hrithik16">Hrithik Gupta</a></p>
    </footer>
  </body>
</html>
